@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 62.5%;
}

.timer-text {
  font-size: 1.5rem;
  margin-top: 10px;
}

.circle {
  stroke-width: 10;
  stroke-linecap: round;
  transition: stroke-dashoffset 1s linear, stroke 0.8s linear;
}
